.header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  background-color: green;
}
.headerP {
  color: white;
  padding: 20px;
}

#highScorePage {
  padding: 20px;
  color: white;
}
.homeClass {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 2%;
}

#excuseMe {
  opacity: 0.3;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 4%;
  width: 99%;
  background-color: lightgrey;
}

.homeButtonDiv {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 20px;
  margin: 5%;
  border-color: lightslategrey;
  transition-duration: 600;
}

.btn:hover {
  background-color: lightgray;
}

.answers:hover {
  background-color: lightgray;
}

.theQuestion {
  text-align: center;
  margin: auto;
  padding: 5%;
}

.answers {
  display: flex;
  border: 2px solid grey;
  margin: 2%;
  margin-left: 20%;
  padding: 1%;
  width: 55%;
  transition-duration: 600;
  background-color: #e4f0e9;
  justify-content: center;
}

.answer {
  border: 4px dotted green;
}
.notAnswer {
  border: 4px dotted red;
}

#score {
  color: blue;
}

.saveBtn {
  display: flex;
  justify-content: center;
}

.newDiv {
  display: flex;
  justify-content: center;
}
